<h1>Ask me a question me pet</h1>
<p>Let's see what we get here</p>

<form action="/answer<%=@query%>">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
